body {
  margin: 0;
  padding: 0;
  background-color: #D3E2F0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  color:#363636;
}
#content {
  float: left;
  margin: 20px;
}
#footer {
  clear: both;
  text-align: center;
  color: #666666;
  font-size: 0.85em;
}